* {
    font-family: Georgia;
    line-height: 1.5;
    color: #323232;
}

body {
    background-color: lightgray;
}

article {
    width: 70ch;
    margin: auto;
    font-size: 18px;
}

#cover {
    width: 70ch;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.8em;
}

p,
blockquote,
ul,
ol {
    font-size: 1em;
    line-height: 1.5em;
}

#by-line {
    border-bottom: #000 1px solid;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url("cup-icon.svg");
    line-height: 1.5em;
    padding-left: 1.5em;
}
