[submodule "TDT4100"]
	path = TDT4100-Java/TDT4100
	url = git@github.com:havardnyboe/TDT4100.git
[submodule "TDT4100-Java/TDT4100"]
	path = TDT4100-Java/TDT4100
	url = git@github.com:havardnyboe/TDT4100.git
[submodule "IT2805-Webtek/prosjekt"]
	path = IT2805-Webtek/prosjekt
	url = git@github.com:havardnyboe/IT2805-Prosjekt.git
[submodule "IT1901-ITPro1/time-master"]
	path = IT1901-ITPro1/time-master
	url = git@github.com:havardnyboe/IT1901-TimeMaster.git
[submodule "IT1901-ITPro1/javafx-template"]
	path = IT1901-ITPro1/javafx-template
	url = git@github.com:havardnyboe/IT1901-RPNCalculator.git
[submodule "TDT4145"]
	path = TDT4145-DatDat/prosjekt
	url = git@github.com:havardnyboe/datdat

[submodule "TDT4145-DatDat/datdat"]
	path = TDT4145-DatDat/datdat
	url = git@github.com:havardnyboe/datdat.git
