* {
    line-height: 1.5;
}

body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgba(235, 232, 232, 0.925);
}

section {
    width: 65ch;
}

h1 {
    text-align: center;
}

div {
    width: 65ch;
}
